/*  ==== DESIGNER INFO ==== */
/*  Name: Hridoy Saha, Mob: 01828304973, mail: hridoysaha969@gmail.com */
/* ==== GLOBAL CLASSES ==== */
body {
  font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #393542;
  font-weight: 700; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

.btn-main {
  background-image: -moz-linear-gradient(178deg, #ff99a5 0%, #ff60a3 100%);
  background-image: -webkit-linear-gradient(178deg, #ff99a5 0%, #ff60a3 100%);
  background-image: -ms-linear-gradient(178deg, #ff99a5 0%, #ff60a3 100%);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1;
  padding: 23px 70px;
  border: 2px solid transparent; }

.btn-border {
  border-color: #fff;
  background: transparent; }

.btn-theme-border {
  color: #000;
  border-color: #ff6ea3;
  background: transparent;
  padding: 20px 30px;
  font-size: 14px; }

.btn-theme-border:hover {
  color: #fff;
  border-color: #ff6ea3;
  background-image: -moz-linear-gradient(178deg, #ff99a5 0%, #ff60a3 100%);
  background-image: -webkit-linear-gradient(178deg, #ff99a5 0%, #ff60a3 100%);
  background-image: -ms-linear-gradient(178deg, #ff99a5 0%, #ff60a3 100%); }

.btn-border:hover {
  background: #fff;
  color: #ff67a3; }

a:hover {
  text-decoration: none; }

.mpt-40 {
  padding-top: 40px; }

.mpb-40 {
  padding-bottom: 40px; }

.mpl-15 {
  padding-left: 15px; }

.mmb-35 {
  margin-bottom: 35px; }

.mmb-45 {
  margin-bottom: 45px; }

.mmb-30 {
  margin-bottom: 30px; }

.mmb-50 {
  margin-bottom: 50px; }

.mmb-70 {
  margin-bottom: 70px; }

.mmt-70 {
  margin-top: 70px; }

/* ==== HEADER SECTION ==== */
.transparent-header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9; }

.main_menu ul li a {
  color: #cfcfd8;
  font-weight: 700;
  font-size: 18px;
  padding: 20px 0;
  display: list-item;
  line-height: 1; }

.main_menu ul li {
  display: inline-block;
  margin: 0 15px;
  position: relative; }

.slicknav_menu {
  display: none; }

/* ==== DROPDOWN MENU ==== */
.main_menu ul li ul.submenu {
  position: absolute;
  background: #fff;
  width: 200px;
  top: 110%;
  padding: 30px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.08); }

.main_menu ul li:hover > ul.submenu {
  opacity: 1;
  visibility: visible;
  top: 100%; }

.main_menu ul li ul.submenu li {
  margin: 0;
  display: block;
  margin-bottom: 20px; }

.main_menu ul li ul.submenu li:hover > a {
  color: #ff67a3; }

.main_menu ul li ul.submenu li:last-child {
  margin-bottom: 0; }

.main_menu ul li ul.submenu li a {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  color: #9c9ca1; }

/* ==== 2ND DROPDOWN ==== */
.main_menu ul li ul.submenu li ul.submenu {
  left: 100%;
  top: 0; }

.header-btn a {
  background: #6d5ee0;
  padding: 15px 60px;
  border-radius: 30px;
  font-size: 18px;
  letter-spacing: 0;
  font-weight: 700;
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px; }

.header-btn a:hover {
  background: #ff67a3;
  color: #fff; }

/* ==== SLIDER AREA ==== */
.slider-height {
  min-height: 1190px;
  background-image: url("../img/hero_img.png");
  background-repeat: no-repeat;
  background-position: top left; }

.slider-content-space {
  padding-top: 380px; }

.slider-img {
  margin-top: 195px; }

.slider-text h2 {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  padding-right: 65px;
  margin-bottom: 20px; }

.slider-text p {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 45px; }

.slider-btn a {
  margin-right: 15px; }

.shape {
  position: absolute; }

.shape-01 {
  top: 19%;
  left: 8%; }

.shape-02 {
  bottom: 21%;
  left: 47%; }

.app-shape-1 {
  position: absolute;
  top: 9%;
  left: -25%; }

.app-shape-2 {
  position: absolute;
  bottom: 18%;
  right: -45%; }

/* ==== FACT AREA ==== */
.single-fact h2 {
  color: #7336f1;
  font-size: 48px; }

.single-fact span {
  color: #878991;
  font-size: 16px; }

.single-fact {
  position: relative; }

.single-fact::after {
  background: #c6c7cb;
  height: 40px;
  width: 1px;
  content: "";
  position: absolute;
  top: 33px;
  right: -62px; }

.fact-parent .col-xl-3:last-child .single-fact::after {
  display: none; }

/* ==== FEATURE SECTION ==== */
.features-area {
  padding-top: 150px;
  padding-bottom: 120px; }

.feature-text h3 {
  font-size: 24px;
  color: #38363d;
  margin-bottom: 20px;
  font-weight: 600; }

.feature-text p {
  font-size: 16px;
  color: #878991;
  line-height: 22px;
  padding: 0 40px; }

.section-title h2 {
  font-size: 48px;
  margin-bottom: 20px; }

.section-title p {
  font-size: 20px;
  line-height: 30px;
  color: #878991; }

/* ==== VIDEO WRAPPER ==== */
.video-area {
  padding-bottom: 70px; }

.video-wrapper {
  background: url("../img/video-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  height: 610px;
  position: relative;
  box-shadow: 8px 8px 25px rgba(180, 175, 175, 0.76); }

.video-content {
  position: absolute;
  left: 40%;
  top: 30%; }

.video-content .video-text h3 {
  color: #393542;
  font-size: 48px; }

.video-content .video-icon {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-image: -moz-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  background-image: -webkit-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  background-image: -ms-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; }

.video-content .video-icon i {
  font-size: 30px;
  color: #fff; }

/* ==== WORK AREA ==== */
.work-area {
  padding-top: 70px;
  background: #f3f2fe; }

.work-area .section-title p {
  font-size: 20px;
  color: #878991; }

.work-area .app-1 {
  background-repeat: no-repeat;
  background-position: center center; }

.work-area .app-text {
  padding-left: 30px; }

.work-area .app-text h3 {
  font-size: 36px;
  padding-right: 60px;
  margin-top: 140px;
  margin-bottom: 20px; }

.work-area .app-text p {
  font-size: 16px;
  color: #878991;
  line-height: 26px;
  padding-right: 40px;
  margin-bottom: 30px; }

.work-area .app-2 {
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center; }

.work-area .app-text-2 h3 {
  font-size: 36px;
  padding-right: 85px;
  margin-top: 140px;
  margin-bottom: 20px; }

.work-area .app-text-2 {
  padding-right: 30px; }

.work-area .app-text-2 p {
  font-size: 16px;
  color: #878991;
  line-height: 26px;
  padding-right: 40px;
  margin-bottom: 30px; }

/* ==== PRICING AREA ==== */
.pricing-area {
  padding: 70px 0;
  padding-bottom: 30px; }

.price-box {
  padding: 40px 50px;
  border: 2px solid #f2f2f2;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background: #fff; }

.price-header h4 {
  color: #30323d;
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600; }

.price-header h2 {
  color: #7336f1;
  font-size: 60px;
  font-weight: 600; }

.price-header h2 span {
  color: #30323d;
  font-size: 18px;
  font-weight: 300; }

.price-header h2 span.sep {
  font-size: 36px; }

.price-header {
  border-bottom: 1px solid #f2f6f2;
  margin-bottom: 35px;
  padding-bottom: 25px; }

.price-item-list ul li {
  margin-bottom: 17px;
  color: #878991;
  font-size: 16px; }

.price-item-list {
  margin-bottom: 30px; }

.price-nav {
  display: inline-block;
  border: 2px solid #e7e7e7;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px; }

.price-nav li {
  display: inline-block; }

.price-nav li a {
  color: #878991;
  line-height: 1;
  padding: 20px 40px;
  border-radius: 30px 0 0 30px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  -ms-border-radius: 30px 0 0 30px;
  -o-border-radius: 30px 0 0 30px; }

.price-nav li a.active {
  background-image: -moz-linear-gradient(178deg, #ff99a5 0%, #ff60a3 100%);
  background-image: -webkit-linear-gradient(178deg, #ff99a5 0%, #ff60a3 100%);
  background-image: -ms-linear-gradient(178deg, #ff99a5 0%, #ff60a3 100%);
  color: #fff; }

.price-nav li:nth-child(2) a {
  border-radius: 0 30px 30px 0;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  -ms-border-radius: 0 30px 30px 0;
  -o-border-radius: 0 30px 30px 0; }

/* ==== TESTIMONIAL AREA ==== */
.testimonial-area {
  background-image: -moz-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  background-image: -webkit-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  background-image: -ms-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  padding-top: 415px;
  padding-bottom: 130px;
  margin-top: -300px; }

.test-item p {
  color: #fff;
  font-size: 30px;
  line-height: 1.54;
  font-style: italic;
  margin-bottom: 30px; }

.test-item span {
  color: #fff;
  font-size: 18px; }

.test-img-active img {
  width: auto !important;
  display: block;
  padding: 0 7px; }

.test-img-active {
  max-width: 420px;
  margin: auto; }

.test-img-item {
  position: relative;
  width: 109px;
  height: 109px; }

.test-img-item::before {
  position: absolute;
  background: #6f58e4;
  height: 100%;
  width: 100%;
  content: "";
  left: 7px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  opacity: 0.6;
  width: 109px;
  height: 109px;
  top: 0; }

.test-img-item.slick-center::before {
  opacity: 0; }

.slick-current {
  border: none;
  outline: none; }

.slick-active {
  border: none;
  outline: none; }

/* ==== SCREENSHOT AREA ==== */
.screenshot-area {
  padding-top: 120px; }

.screenshot-img img {
  max-width: 100%; }

/* ==== FAQ AREA ==== */
.faq-area {
  background: url("../img/bg-layer-01.png");
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 70px; }

.faq-area .section-title {
  padding-top: 120px; }

.faq-area .faq-img {
  padding-right: 10px; }

.faq-wrapper .accordion-item {
  margin-bottom: 20px;
  box-shadow: 0px 0px 73px 0px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }

.faq-wrapper .btn-faq {
  width: 100%;
  background-image: -moz-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  background-image: -webkit-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  background-image: -ms-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  color: #fff;
  outline: none;
  border: none;
  display: block;
  text-align-last: left;
  padding: 30px 35px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0; }

.faq-wrapper .btn-faq.collapsed {
  background: #fff;
  color: #30323d;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; }

.faq-wrapper h2 .btn-faq::after {
  content: "-";
  float: right;
  height: 30px;
  width: 30px;
  background: #fff;
  text-align: center;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.faq-wrapper h2 .btn-faq.collapsed::after {
  content: "+";
  float: right;
  height: 30px;
  width: 30px;
  background-image: -moz-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  background-image: -webkit-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  background-image: -ms-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  text-align: center;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }

.faq-wrapper.accordion-header {
  padding: 0; }

.faq-wrapper .accordion-body {
  padding: 20px 35px;
  background: #fff;
  border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px; }

.faq-wrapper .accordion-body p {
  color: #878991;
  font-size: 16px; }

.single-brand img {
  opacity: 0.6;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s; }

.brand-heading {
  color: #30323d;
  font-size: 30px;
  font-weight: 600; }

.single-brand img:hover {
  opacity: 1; }

/* ==== BLOG AREA ==== */
.blog-area {
  padding: 70px 0; }

.blog-content {
  padding: 0 30px;
  margin-top: -70px;
  position: relative;
  z-index: 99; }

.inner-blog {
  padding: 30px 35px;
  background: #fff;
  box-shadow: 0px 0px 79px 0px rgba(0, 0, 0, 0.07); }

.inner-blog h3 {
  font-size: 18px;
  line-height: 1.4; }

.inner-blog h3 a {
  color: #30323d;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s; }

.inner-blog h3 a:hover {
  color: #4437df; }

.l-b-meta span {
  font-size: 14px;
  color: #c8c3c3;
  margin-right: 10px; }

.l-b-meta span a {
  color: #c8c3c3; }

.l-b-meta span i {
  color: #7b73ee; }

.l-b-meta {
  margin-bottom: 20px; }

/* ==== SUBSCRIBE AREA ==== */
.subscribe-area {
  padding: 30px 0;
  padding-bottom: 70px; }

.subscribe-area .sub-bg {
  background-image: -moz-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  background-image: -webkit-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  background-image: -ms-linear-gradient(-51deg, #2f32d4 0%, #7142f7 100%);
  padding: 55px 80px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px; }

.subscribe-title h3 {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0; }

.subscribe-form input {
  border: none;
  outline: none;
  width: 100%;
  height: 80px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 0 45px;
  font-size: 18px; }

.subscribe-form form {
  position: relative; }

.subscribe-form button {
  position: absolute;
  top: 6px;
  right: 6px;
  padding: 23px 30px; }

.subscribe-form {
  padding-left: 60px; }

/* ==== FOOTER AREA ==== */
.footer-area {
  padding: 50px 0; }

.footer-area h2 {
  color: #38363d;
  font-size: 60px;
  margin-bottom: 35px; }

.available-btn {
  padding: 0 40px;
  margin-bottom: 120px; }

.footer-area p {
  font-size: 14px;
  color: #38363d; }
